.popover {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .7);
    max-width: 33%;
}

.popover-body {
    max-height: 75vh;
    overflow-y: auto;
    white-space:pre-wrap;
}

.marked.ccsearch {
    color: #900000;
    font-weight: bold;
    background-color: #FFFF00;
}